<div class="container">
  <div class="card-body">
    <h3 class="card-title" style="font-weight: bold; text-align: center;">{{ title }}</h3>
    <br>
    <form #form="ngForm">
      <div class="form-group">
        <label for="date">Fecha*:</label>
        <input type="date" name="date" [(ngModel)]="appointment.date" [min]="minDate | date:'yyyy-MM-dd'"
          (input)="validateDate($event)" required>
        <div *ngIf="invalidDate" class="text-danger mt-2">No se pueden seleccionar sábados o domingos.</div>
      </div>
      <div class="form-group">
        <label for="time">Hora*:</label>
        <input type="time" id="time" name="time" [(ngModel)]="appointment.time" required>
      </div>
      <div class="form-group">
        <label for="status">Estado*:</label>
        <input type="checkbox" id="status" name="status" [(ngModel)]="appointment.status">
      </div>
      <div class="form-group">
        <label for="tattooist">Tatuador*:</label>
        <select id="tattooist" name="tattooist" [(ngModel)]="appointment.tattooIst" [compareWith]="compareTattooist" required>
          <option *ngFor="let tattooist of tattooists" [ngValue]="tattooist">{{ tattooist.name }} - {{ tattooist.speciality }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tattooList">Tatuaje*:</label>
        <select id="tattooList" name="tattooList" [(ngModel)]="appointment.tattooList" [compareWith]="compareTattooList" required>
          <option *ngFor="let tattooList of tattooLists" [ngValue]="tattooList">{{ tattooList.name }} - {{ tattooList.size }} - {{ tattooList.price }}€</option>
        </select>
      </div>
      <div class="form-group">
        <label for="user">Usuario*:</label>
        <select id="user" name="user" [(ngModel)]="appointment.user" [compareWith]="compareUser" required>
          <option *ngFor="let user of users" [ngValue]="user">{{ user.name }} - {{ user.email }}</option>
        </select>
      </div>

      <!-- Mensaje de error general para campos obligatorios -->
      <div *ngIf="form.submitted && form.invalid" class="text-danger mt-2">Por favor, rellene todos los campos obligatorios</div>

      <div class="button-container">
        <button class="btn-success" (click)="create()" *ngIf="!appointment.id; else elseBlock">Crear</button>

        <ng-template #elseBlock>
          <button class="btn-success" (click)="update()">Actualizar</button>
        </ng-template>

        <button class="btn-success" routerLink="/admin">Volver</button>
      </div>
    </form>
  </div>
</div>
