<div class="container">
  <div class="card-body">
    <h3 class="card-title" style="font-weight: bold; text-align: center;">{{ title }}</h3>
    <br>
    <form #form="ngForm">
      <div class="form-group">
        <label for="name">Nombre*: </label>
        <input type="text" name="name" [(ngModel)]="tattooist.name" required>
      </div>
      <div class="form-group">
        <label for="speciality">Especialidad*: </label>
        <input type="text" name="speciality" [(ngModel)]="tattooist.speciality" required>
      </div>
      <div class="form-group">
        <label for="availability">Disponibilidad*: </label>
        <input type="checkbox" id="availability" name="availability" [(ngModel)]="tattooist.availability">
      </div>

      <!-- Mensaje de error general para campos obligatorios -->
      <div *ngIf="form.submitted && form.invalid" class="text-danger mt-2">Por favor, rellene todos los campos obligatorios</div>

      <div class="button-container">
        <button class="btn-success" (click)="create(form)" *ngIf="!tattooist.id; else elseBlock">Crear</button>

        <ng-template #elseBlock>
          <button class="btn-success" (click)="update(form)">Actualizar</button>
        </ng-template>

        <button class="btn-success" routerLink="/admin">Volver</button>
      </div>
    </form>
  </div>
</div>
