<div class="container">
  <div class="card-body">
      <h5 class="card-title" style="font-weight: bold; text-align: center;">{{ title }}</h5>
      <br>
      <form>
          <div class="form-group">
              <label for="name">Nombre: </label>
              <input type="text" name="name" [(ngModel)]="tattooist.name">
          </div>
          <div class="form-group">
              <label for="speciality">Especialidad: </label>
              <input type="text" name="speciality" [(ngModel)]="tattooist.speciality">
          </div>
          <div class="form-group">
              <label for="availability">Disponibilidad: </label>
              <input type="checkbox" id="availability" name="availability" [(ngModel)]="tattooist.availability">
          </div>

          <button class="btn-success" (click)="create()" *ngIf="!tattooist.id; else elseBlock">Crear</button>

          <ng-template #elseBlock>
              <button class="btn-success" (click)="update()">Actualizar</button>
          </ng-template>
      </form>
  </div>
</div>
