<nav>
    <div class="logo">
        <img src="../../assets/logo.png" alt="Logo TattooArt" routerLink="/home">
    </div>
    <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/tattoolists">Tatuajes</a></li>
        <li><a routerLink="/tattooists">Tatuadores</a></li>
        <li><a routerLink="/about">Sobre Nosotros</a></li>
        <!-- Verifica si el usuario está autenticado y es admin -->
        <li *ngIf="authService.isLoggedIn && authService.isAdmin()"><a routerLink="/admin">Panel de Control</a></li>
    </ul>
    <div class="logo">
      <img src="../../assets/cerrar_sesion.png" alt="Logo TattooArt" (click)="logout()" style="margin-left: 113px;">
    </div>
</nav>
