<nav>
    <div class="logo">
        <img src="../../assets/logo.png" alt="Logo TattooArt">
    </div>
    <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/tattoolists">Tatuajes</a></li>
        <li><a routerLink="/tattooists">Tatuadores</a></li>
        <li><a routerLink="/about">Sobre Nosotros</a></li>
        <li><a routerLink="/admin">Panel de Control</a></li>
    </ul>
    <div class="logout-btn">
        <a (click)="logout()">Cerrar sesión</a>
    </div>
</nav>