nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    padding: 20px 40px; /* Ajusta el espaciado según sea necesario */
    color: #fff;
}

.logo img {
    height: 60px; /* Ajusta el tamaño del logo según sea necesario */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s;
}

a:hover {
    color: #ffc107;
}

a.router-link-active {
    color: #ffc107;
}

.login-btn a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Ajusta el espaciado del botón según sea necesario */
    border: 2px solid #fff;
    border-radius: 5px;
}

.login-btn a:hover {
    background-color: #fff;
    color: #1f1f1f;
}

.logout-btn a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Ajusta el espaciado del botón según sea necesario */
    border: 2px solid #fff;
    border-radius: 5px;
}

.logout-btn a:hover {
    background-color: #fff;
    color: #1f1f1f;
}