nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212529;
  padding: 20px 40px;
  /* Ajusta el espaciado según sea necesario */
  color: #fff;
}

.logo img {
  height: 60px;
  /* Ajusta el tamaño del logo según sea necesario */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: color 0.3s;
}

a:hover {
  color: #ffc107;
}

a.router-link-active {
  color: #ffc107;
}
