<div class="container">
    <h2>Tattooists</h2>

    <div class="tattooists-grid">
        <div *ngFor="let tattooist of tattooists" class="tattooist">
            <h3>{{ tattooist.name }}</h3>
            <!-- Aquí puedes agregar más detalles del tatuador si es necesario -->
            <button (click)="updateTattooist(tattooist)">Edit</button>
            <button (click)="deleteTattooist(tattooist)">Delete</button>
        </div>
    </div>

    <button (click)="createTattooist()">Add Tattooist</button>
</div>
