.container {
    max-width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.tattooists-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.tattooist {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.tattooist h3 {
    margin-top: 0;
}

.tattooist img {
    width: 600px; /* Establece un ancho fijo para la imagen */
    height: 600px; /* Establece una altura fija para la imagen */
    object-fit: cover; /* Escala la imagen manteniendo su relación de aspecto y cubriendo todo el contenedor */
    display: block; /* Asegura que la imagen sea un elemento de bloque */
    border-radius: 8px; /* Opcional: aplica un borde redondeado a la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}
