<div class="container">
    <h1>Tatuajes Disponibles</h1>

    <div class="tattoolists-grid">
        <ng-container *ngFor="let tattoolist of tattoolists; let i = index">
            <div *ngIf="i % 3 === 0" class="tattoolist">
                <h3>{{ tattoolist.name }}</h3>
                Descripción: <p>{{ tattoolist.description }}</p>
                <img [src]="'../assets/tattoos_design/' + i + '.jpg'" alt="{{ tattoolist.name }} Image">
            </div>
        </ng-container>
    </div>
</div>