<div class="container">
  <header>
    <img src="../../assets/logo3.png" alt="TattooArt Logo" />
    <p>
      ¡Bienvenido a TattooArt, donde el arte cobra vida en la piel! Sumérgete en un mundo de creatividad y expresión
      donde cada trazo cuenta una historia única. En nuestra página, te invitamos a explorar un universo de
      inspiración, donde encontrarás una amplia gama de diseños, estilos y tendencias para tu próximo tatuaje. Desde
      tradicional hasta vanguardista, nuestros artistas expertos están listos para transformar tus ideas en obras
      maestras que perdurarán toda la vida. Reserva tu cita y únete a la comunidad de amantes del arte corporal.
      ¡Descubre por qué somos el destino preferido para los buscadores de autenticidad y belleza!
    </p>
  </header>

  <section class="featured-tattoos">
    <h2>Tatuajes Brazos + Destacados</h2>
    <div class="tattoo-gallery">
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo1.jpg" alt="Tatuaje destacado 1" />
          <p>
            En el lienzo de la piel, una brújula eterniza el deseo de buscar más
            allá de los límites conocidos. Su aguja, señala hacia el futuro
            incierto, recordándonos que el viaje es tan importante como el
            destino.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo2.jpg" alt="Tatuaje destacado 2" />
          <p>
            En la tinta se entrelazan dos palabras cargadas de significado:
            'Family'. Entre ellas, unas manos entrelazadas en oración, símbolo
            de unidad, apoyo y fe compartida.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo3.jpg" alt="Tatuaje destacado 3" />
          <p>
            En la piel, la majestuosidad de Zeus se hace eterna. Su figura
            poderosa emerge, envuelta en relámpagos y nubes, emanando la fuerza
            y la sabiduría del rey de los dioses.
          </p>
        </div>
      </div>
      <h2>Tatuajes Espalda + Destacados</h2>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo4.jpg" alt="Tatuaje destacado 4" />
          <p>
            El tatuaje en la espalda de Medusa: una mirada que cautiva,
            serpientes que danzan. Símbolo de poder y misterio, encarna la
            dualidad de la vida: belleza y peligro entrelazados.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo5.jpg" alt="Tatuaje destacado 5" />
          <p>
            Enredada en la dermis como un hilo de la eternidad, la serpiente se
            yergue como guardiana de secretos antiguos y testigo de la constante
            evolución del ser.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo6.jpg" alt="Tatuaje destacado 6" />
          <p>
            La majestuosidad del león se entrelaza con la ternura de la maternidad en este cautivador tatuaje. En la
            espalda, el león, símbolo de fuerza y liderazgo, observa con orgullo a sus crías.
        </div>
      </div>
      <h2>Tatuajes Pierna + Destacados</h2>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo7.jpg" alt="Tatuaje destacado 7" />
          <p>
            La pierna se convierte en lienzo sagrado, donde la figura del Cristo emerge como símbolo de fe.
            Con cada trazo, se plasma la esencia de la divinidad y la humanidad, en un abrazo eterno.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo8.jpg" alt="Tatuaje destacado 8" />
          <p>
            En la piel, la dualidad se entrelaza en un pasaje visual: el puñal, símbolo de fuerza y confrontación, se
            entrelaza con la delicadeza de una flor, emblema de belleza y fragilidad.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="tattoo">
          <img src="../../assets/tattoos/tattoo9.jpg" alt="Tatuaje destacado 9" />
          <p>
            Este tatuaje encapsula la esencia del juego: la estrategia calculada del rostro de póker contrasta con la
            incertidumbre y la emoción que surge al desvelar una carta.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="reserve-appointment">
    <h2>¿Interesado en un tatuaje único?</h2>
    <p>¡Reserva tu cita hoy mismo y comienza el viaje hacia tu próxima obra maestra! Nuestro equipo de artistas expertos
      está listo para dar vida a tus ideas.</p>
    <img src="../../assets/calendar.png" />
    <br>
    <button class="btn-reserve" routerLink="/reserve">Reservar cita</button>
  </section>
</div>
