/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; /* Cambia el color de fondo según tu preferencia */
  display: flex; /* Utiliza flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
}

.container {
  max-width: 800px; /* Reduce el ancho máximo para una apariencia más elegante */
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Cambia el color de fondo del contenedor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra para un aspecto más elegante */
  border-radius: 8px; /* Añade bordes redondeados */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Estilos del encabezado */
header {
  margin-bottom: 40px;
}

header h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px; /* Reduce el espacio entre el título y el párrafo */
}

header p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos de las secciones */
section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  color: #666;
  line-height: 1.6; /* Aumenta el espacio entre líneas para una mejor legibilidad */
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos de las imágenes */
.tattoo img {
  display: block;
  margin: 0 auto; /* Centra las imágenes horizontalmente */
  max-width: 40%; /* Ajusta el tamaño máximo de las imágenes al contenedor */
  height: auto;
}
